body {
  font-family: sans, sf pro text, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-size: 16px;
  margin: 0;
}
.menu {
  display: none;
  width: 24px;
}
.search-icon1,
.shopping-cart-icon1 {
  display: none;
  width: 24px;
}
li {
  font-size: 12px;
  font-weight: 700;
  list-style: none;
  display: inline;
  margin: 0;
  color: rgb(140, 138, 138);
}
nav {
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 7px;
  padding-top: 10px;
  padding-left: 20px;
  width: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.header-background {
  background: url("../icons/alarm.jpg");
  margin-top: 2px;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  height: 80%;
}
.header {
  position: relative;
  height: 450px;
  background-color: #f8f9fb;
}
.header-txt {
  position: absolute;
  top: 2.4rem;
  left: 4.8rem;
  padding: 2.4rem;
  height: 235px;
  width: 420px;
  background: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}
.header-txt-1 {
  margin: 0;
  padding-bottom: 12px;
}
.header-txt-2 {
  font-size: 17px;
  margin: 0;
}
.checked {
  font-size: 12px;
  color: rgb(177, 91, 22);
  font-weight: bold;
}
.students {
  font-size: 10px;
  font-weight: 200;
  color: gray;
}

.logo-udemy {
  width: 85px;
  height: 34px;
  cursor: pointer;
}
.shopping-cart-icon {
  margin-left: 16px;
  width: 20px;
  cursor: pointer;
}
.lang-icon {
  width: 15px;
  padding-bottom: 3px;
}

.search-icon {
  width: 15px;
  position: absolute;
  top: 14px;
  left: 32px;
  cursor: pointer;
}
.search-input {
  flex: 1;
  font-size: 12px;
  border-radius: 25px;
  border-style: solid;
  height: 40px;
  padding-left: 42px;
  border-width: 1px;
  border-color: black;
}
.cato {
  border: none;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
}
.search-bar {
  padding-left: 17px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}
.log-in-button,
.sign-up-button {
  background-color: white;
  height: 35px;
  width: 80px;
  border-radius: 0;
  border-width: 1px;
  cursor: pointer;
}
.lang-button {
  background-color: white;
  border-width: 1px;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.log-in-button {
  margin-left: 15px;
  font-weight: bold;
}
.sign-up-button {
  margin-left: 10px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-weight: bold;
}
.udemy-bus,
.teach-on {
  border: none;
  background-color: white;
  padding-left: 20px;
  cursor: pointer;
}
.udemy-bus:hover,
.teach-on:hover,
.cato:hover {
  color: blueviolet;
}
.course-cato-txt {
  padding-left: 60px;
  padding-right: 60px;
}
.courses-list-cato {
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
li {
  list-style: none;
}

.listOfCourses {
  font-family: sans-serif;
  font-weight: bold;
  color: grey;
  padding-right: 45px;
  padding-top: 10px;
}
.listOfCourses :hover {
  color: rgb(0, 0, 0);
}
.listOfCourses.active {
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
.course_rating_stars {
  width: 35%;
}
.course_badge {
  display: inline-block;
  background-color: #eceb98;
  color: #3d3c0a;
  padding: 4px 5px;
  font-size: 10px;
  font-weight: bold;
}
.courses {
  font-family: sans-serif;
  border: 1px solid rgb(187, 187, 187);
  padding: 25px;
  padding-bottom: 10px;
  padding-right: 18px;
  margin-left: 35px;
  margin-right: 35px;
}
.courses-header-text {
  width: 55%;
}
.courses-header-text .title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}
.course-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.courses-header-text .details {
  font-family: roboto Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 420;
  line-height: 22px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.839);
  padding-bottom: 25px;
}
.Explore-btn {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  color: black;
}
.Explore-btn:hover {
  background-color: rgba(128, 128, 128, 0.174);
}
.card-title {
  font-weight: bold;
}
.card-author {
  font-size: 13px;
  color: gray;
  font-weight: 100;
}
.card-rate .students,
.card-price {
  font-size: 15px;
  font-weight: 700;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.card-price {
  color: black;
}
.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.card-img-top {
  border: 1px solid rgba(0, 0, 0, 0.243);
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 25%;
  transform: translateY(-50%);
}
